// Generic
$primary-color:black;
$alt-color: #F5F6FB;
$dark-color: #141D2C;
$blue-color: #2E6CFF;
$blue2-color: #5CB3FF;
$light-color: #C5F467;
$grey-color: #B6C4D9;
$gutter: 2rem;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: $primary-color;

// Post
$post-text-color: #2EE7B6;
$post-hover-color: #f7f7f7;