// Generic
$primary-color:#F1FFFF;
$alt-color: #F5F6FB;
$dark-color: #0D1615;
$blue-color: #2E6CFF;
$bg-color: #B6C4D9;
$light-color: #C5F467;
$grey-color: #59759e;
$gutter: 2rem;

$dark-green: #0D1615;
$midle-green: #143234;
$green: #205053;
$light-green: #88F0F3;

$orange: #E9A71F;

$dark-typo: #6FB9BC;
$typo: #F1FFFF;
$green-typo: #73A278;



// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: $primary-color;

// Post
$post-text-color: #2EE7B6;
$post-hover-color: #f7f7f7;